{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select class="form-control" name="symbol">
            <option disabled selected value="">Stock Name</option>
            {% for row in stonks %}
                <option value={{row['symbol']}}>{{row['symbol']}}</option>
            {% endfor %}
        </select> <br>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Number of Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}