{% extends "layout.html" %}

{% block title %}
    Summary
{% endblock %}

{% block main %}

Welcome, yo! <br>
<br>
<form action="/add" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control input-lg" name="textname" placeholder="Name of Text" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control input-lg" name="input" placeholder="Input Text Here" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add Text</button>
</form>
{% endblock %}
