{% extends "layout.html" %}

{% block title %}
    Generated!
{% endblock %}

{% block main %}

Generated: {{tname1}}{{tname2}}<br>
<br>

{{out}}

<br>

<form action="/gen" method="post">
          Text Name(s):
            <select name = "textname1"
              class="form-control">
              <option disabled selected value="">Text Name</option>
              {% for name in names %}
                <option value={{name['name']}}>{{name['name']}}</option>
              {% endfor %}
            </select>
            <select name = "textname2"
              class="form-control">
              <option disabled selected value="">Text Name</option>
              {% for name in names %}
                <option value={{name['name']}}>{{name['name']}}</option>
              {% endfor %}
            </select>
  <br><br>
          <button class="btn btn-primary" type="submit">Generate Textual Tension</button>
</form>
{% endblock %}
