{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}

<form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="stock" placeholder="Stock Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
</form>

<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Symbol</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{name}}</td>
      <td>{{'%0.2f' % (price)|float}}</td>
      <td>{{symbol}}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
